.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.texto {
  color: rgb(12, 11, 11);
  text-align: center;
  margin: 400px 0;
  font-size: 40px;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.leaflet-cotainer {
  width: 100vw;
  height: 100vh;
}

.item {
  background: rgb(245, 203, 14);
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  color: #1df30a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: rgb(250, 246, 26);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f5cd1a;
  /* min-height: 200vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(46, 182, 19);
}
.button_class {
  height: 300px;
  width: 300px;
  background-color: rgb(17, 16, 6);
  border-radius: 100%;
  border: 1px solid rgb(248, 234, 29);
 
  background-size: 100%;
}

.button_class:hover {
  background-size: 150%;
  /* -webkit-transition:all 0.3s ease-in-out; */
  }

.App-link {
  color: #ccf731;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  text-align: center;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(120deg, #eede04, hsla(56, 95%, 64%, 0.995), #a5ec75, #4cfa07, #2deb4c, #252525, #080708);
  background-size: 500%;
  animation: fonanimado 2s infinite;
}